.site-footer{
  background: $secondary-color;
  padding: 15px 0;
  &-copyright{
    p{
      color: $white;
      margin: 10px auto 0;
      text-align: center;
    }
    a{
      color: $text-color-dark;
      transition: all .3s ease;
      @include tablet{
        font-size: 20px;
      }
      @include desktop{
        margin-bottom: 70px;
      }
    }
  }
}
